.App-header {
  /*background-color: #797c7c;*/
  height: 80px;
  /*padding: 5px;*/
  color: black;
  text-align: left;
}

.player-card {
  height: 593px;
  /*max-height: 593px;*/
  border: 2px solid #99bbff;
}
.player-title {
  font-size: 20px;
}
.computer-card {
  height: 593px;
  /*max-height: 593px;*/
  border: 2px solid #99bbff;
}

.computer-card img {
  width: inherit;
  height: 589px;
  max-height: 593px;
  display: block;
  margin: 0 auto;
}

.computer-title {
  font-size: 20px;
}

.card-title {
  font-size: 18px;
  text-align: left;
  padding: 15px;
}

.card-image {
  width: inherit;
  height: 200px;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  /*width: 100%;*/
  /*height: inherit;*/
  display: block;
  margin: 0 auto;
}

.tr-enabled:hover td {
  background: #99bbff;
  cursor: pointer;
  cursor: hand;
  color: white;
}

.tr-disabled {
  cursor: not-allowed;
  color: #cccccc;
  /*pointer-events: none;*/
}

.tr-selected {
  background: #99bbff !important;
  color: white;
}

@media screen and (max-width: 767px) {
  .player-card {
    max-width: 350px;
    max-height: 593px;
  }

  .computer-card {
    max-width: 350px;
    max-height: 592px;
  }
  .buttons {
    max-width: 350px;
  }
}
